/wp-admin/
/wp-includes/
*.php
license.txt
readme.html


# Исключаем загрузки
/wp-content/uploads/

# Исключаем кеш и логи
wp-content/cache/
wp-content/backup/
*.log

# Исключаем конфиденциальные данные
wp-config.php
.htaccess