.page-numbers {
    --size: 24px;
    --color: var(--color-base-900);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: var(--size);
    min-height: var(--size);
    color: var(--color);
    text-decoration: none;
    transition: color var(--transition-base), background-color var(--transition-base);
}

.current {
    color: #b3b3b3;
}
/*Поисковик*/
.aws-container{
    border: 1px solid #e6e6e6;
}
.aws-container .aws-search-form {
height: 100%;
}
.aws-container .aws-search-field {
    font-size: 14px;
    padding: 8px 0px;
    border: none;
}
.aws-container .aws-search-form .aws-form-btn {
    background: #fff;
    border: none;
}
.aws-container .aws-search-form .aws-search-btn_icon {
    fill: #e6e6e6;
}
.input-text{
    text-align: center;
}
.quantity {
    width: 100%;
}
.product_title{
    margin: 0;
}
.woocommerce-message{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
